<section class="section trend" aria-label="crypto trend" data-section>
    <div class="container">
        <div class="trend-tab">
            <ul class="tab-nav">
                <li><button class="tab-btn active">Crypto</button></li>
                <li><button class="tab-btn" (click)="filterDefi()">Defi</button></li>
                <li><button class="tab-btn" (click)="filterMeta()">Metaverse</button></li>
                <li><button class="tab-btn" (click)="filterEntertainment()">Entertainment</button></li>
                <li><button class="tab-btn" (click)="filterEnergy()">Energy</button></li>
            </ul>
            <div class="tab-content">
                <li *ngFor="let crypto of cryptos.slice(0,4)">
                    <div class="trend-card active">
                        <div class="card-title-wrapper">
                            <img [src]="crypto.img" width="24" height="24" alt="bitcoin logo">
                            <a href="#" class="card-title">
                                {{crypto.name}} <span class="span">{{crypto.slug}}/USD</span>
                            </a>
                        </div>
                        <data class="card-value" value="46168.95">USD {{crypto.price}}</data>
                        <div class="card-analytics">
                            <data class="current-price" value="36641.20">{{crypto.market}}</data>
                            <div class="badge " [ngClass]="crypto.green?'green':'red'">{{crypto.day}}</div>
                        </div>
                    </div>
                </li>
                <!-- <li>
                    <div class="trend-card">
                        <div class="card-title-wrapper">
                            <img src="assets/images/coin-2.svg" width="24" height="24" alt="ethereum logo">
                            <a href="#" class="card-title">
                                Bitcoin <span class="span">ETH/USD</span>
                            </a>
                        </div>
                        <data class="card-value" value="3480.04">USD 3,408.04</data>
                        <div class="card-analytics">
                            <data class="current-price" value="3480.04">3,408.04</data>
                            <div class="badge green">+10.55%</div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="trend-card">
                        <div class="card-title-wrapper">
                            <img src="assets/images/coin-3.svg" width="24" height="24" alt="ethereum logo">
                            <a href="#" class="card-title">
                                Tether <span class="span">USDT/USD</span>
                            </a>
                        </div>
                        <data class="card-value" value="3480.04">USD 3,408.04</data>
                        <div class="card-analytics">
                            <data class="current-price" value="3480.04">3,408.04</data>
                            <div class="badge red">-0.01%</div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="trend-card">
                        <div class="card-title-wrapper">
                            <img src="assets/images/coin-5.svg" width="24" height="24" alt="bnb logo">
                            <a href="#" class="card-title">
                                BNB <span class="span">BNB/USD</span>
                            </a>
                        </div>
                        <data class="card-value" value="3480.04">USD 3,408.04</data>
                        <div class="card-analytics">
                            <data class="current-price" value="443.56">443.56</data>
                            <div class="badge red">-1.24%</div>
                        </div>
                    </div>
                </li> -->
            </div>
        </div>
    </div>
</section>