<header class="header" data-header>
    <div class="container">
        <a [routerLink]="['/']" class="logo">
            <img src="assets/images/logo256x256.png" alt="logo-bitpoint" style="height: 32px !important;">
        </a>
        <nav class="navbar" data-navbar>
            <ul class="navbar-list">
                <li class="navbar-item">
                    <a [routerLink]="['/']" class="navbar-link" data-nav-link (click)="closeMenu()">Home</a>
                </li>
                <li class="navbar-item">
                    <a [routerLink]="['/buy']" class="navbar-link" routerLinkActive="active" data-nav-link
                        (click)="closeMenu()">Buy
                        Crypto</a>
                </li>
                <li class="navbar-item">
                    <a [routerLink]="['/market']" class="navbar-link" routerLinkActive="active" data-nav-link
                        (click)="closeMenu()">Markets</a>
                </li>
                <!-- <li class="navbar-item">
                    <a [routerLink]="['/sell']" class="navbar-link" routerLinkActive="active" data-nav-link
                        (click)="closeMenu()">Sell Crypto</a>
                </li> -->
                <li class="navbar-item">
                    <a [routerLink]="['/blog']" class="navbar-link" routerLinkActive="active" data-nav-link
                        (click)="closeMenu()">Blog</a>
                </li>
            </ul>
        </nav>
        <button class="nav-toggle-btn" aria-label="Toogle menu" data-nav-toggler (click)="navToggler()">
            <span class="line line-1"></span>
            <span class="line line-2"></span>
            <span class="line line-3"></span>
        </button>
        <a href="#" class="btn btn-outline">Wallet</a>
    </div>
</header>