<section class="section hero active" aria-label="hero" data-section>
    <div class="container">
        <div class="hero-content">
            <h1 class="h1 hero-title">Buy & Sell Digital Assets Assets In The Bitpoint Latam</h1>
            <p class="hero-text">
                Coin Bitpoint is the easiest, safest, and fastest way to buy & sell crypto asset exchange.
            </p>
            <a href="" class="btn btn-primary">Get started now</a>
        </div>
        <figure class="hero-banner">
            <img src="assets/images/hero-banner.png" width="578" height="448" alt="hero banner" class="w-100">
        </figure>
    </div>
</section>