<section class="section hero active" aria-label="hero" data-section>
    <div class="container">
        <div class="hero-content-title">
            <h1 class="h1 hero-title">
                How To Buy Bitcoin <span class="h1"> BTC <img src="assets/images/coin-1.svg" width="44px" alt=""></span>
            </h1>
        </div>
        <div class="hero-content-steps">
            <p class="section-text">what will you learn</p>
            <ul class="list-steps">
                <div class="step-inline">
                    <ion-icon name="arrow-forward-sharp"></ion-icon>
                    <li class="hero-text-step">Where and how can you buy Bitcoin. <br>We have included detailed
                        instructions
                        to make it easier
                        for
                        you.</li>
                </div>
                <div class="step-inline">
                    <ion-icon name="arrow-forward-sharp"></ion-icon>
                    <li class="hero-text-step">Some market statistics on Bitcoin. <br>We've also included other search
                        opportunities that might
                        interest you.</li>
                </div>
                <div class="step-inline">
                    <ion-icon name="arrow-forward-sharp"></ion-icon>
                    <li class="hero-text-step">Other cryptocurrencies similar to Bitcoin. <br>And how to buy other
                        crypto
                        assets.</li>
                </div>
            </ul>
        </div>
        <div class="hero-content-price">
            <p class="hero-subtitle">Price Bitcoin(24 h)</p>
            <div class="content-title-price">
                <h2 class="h2 title-price">
                    106.722,94 PEN
                </h2>
                <span class="hero-text">
                    <ion-icon name="trending-up-sharp"></ion-icon>0,15 %</span>
            </div>
        </div>
        <div class="hero-content-buy">
            <button class="btn btn-primary">Buy Bitcoin <ion-icon name="arrow-forward-sharp"></ion-icon></button>
        </div>
    </div>
</section>