<section class="section details" aria-label="details post" data-section>
    <div class="container">
        <div class="content-link">
            <a (click)="backBlog()"><ion-icon name="chevron-back-outline"></ion-icon> BITPOINT Blog</a>
        </div>
        <div class="post-content">
            <div class="detail-content">
                <div class="section-title">
                    <h1 class="h1">{{post.title}}</h1>
                    <p>{{post.date}}</p>
                </div>
                <div class="section-content">
                    <h2 class="h2" id="title1">{{post.subtitle[0]}}</h2>
                    <li><ion-icon name="checkmark-circle" aria-hidden="true" role="img" class="md hydrated"></ion-icon>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Impedit!</li>
                    <li><ion-icon name="checkmark-circle" aria-hidden="true" role="img" class="md hydrated"></ion-icon>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Impedit!</li>
                    <li><ion-icon name="checkmark-circle" aria-hidden="true" role="img" class="md hydrated"></ion-icon>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Impedit!</li>
                    <li><ion-icon name="checkmark-circle" aria-hidden="true" role="img" class="md hydrated"></ion-icon>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Impedit!</li>
                    <li><ion-icon name="checkmark-circle" aria-hidden="true" role="img" class="md hydrated"></ion-icon>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Impedit!</li>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsum recusandae amet eaque sunt
                        itaque. Mollitia rerum quos impedit officiis, ducimus odio quod tempora maiores atque quisquam
                        nobis perferendis quae libero pariatur, sunt id ea! Possimus, harum?</p>
                    <figure><img [src]="post.img" alt=""></figure>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum labore facilis atque sint eos
                        deleniti libero sed provident omnis nulla velit sunt quam reprehenderit placeat sequi laboriosam
                        laudantium, delectus nihil ut obcaecati. Quis non tempore eius repellendus delectus maiores
                        officiis cupiditate explicabo ratione quasi. Soluta amet repudiandae ipsa voluptates assumenda
                        quae quo aut laudantium, modi nulla, tempore accusantium corrupti possimus nesciunt dolorem
                        animi.</p>
                    <h2 class="h2" id="title2">{{post.subtitle[1]}}</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati labore nulla in modi fugiat
                        similique facere voluptatum magni, voluptatibus enim? Deleniti incidunt architecto pariatur rem
                        eum maxime consequatur nam. Earum repellendus voluptates modi ratione dolore sequi, possimus
                        reiciendis quasi ipsa mollitia perferendis dolorem ipsam voluptatem quidem porro provident
                        minima unde.</p>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing.</p>
                    <li><ion-icon name="checkmark-circle" aria-hidden="true" role="img" class="md hydrated"></ion-icon>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Repudiandae.</li>
                    <li><ion-icon name="checkmark-circle" aria-hidden="true" role="img" class="md hydrated"></ion-icon>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Repudiandae.</li>
                    <li><ion-icon name="checkmark-circle" aria-hidden="true" role="img" class="md hydrated"></ion-icon>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Repudiandae.</li>
                    <li><ion-icon name="checkmark-circle" aria-hidden="true" role="img" class="md hydrated"></ion-icon>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Repudiandae.</li>
                    <li><ion-icon name="checkmark-circle" aria-hidden="true" role="img" class="md hydrated"></ion-icon>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Repudiandae.</li>
                    <h2 class="h2" id="title3">{{post.subtitle[2]}}</h2>
                    <p>Binance VIP Loan 2.0 introduces new flexible rates and open-term features to offer even more
                        range to our VIP users. It’s worth noting that flexible loan rates tend to be less costly than
                        those of fixed-term loans, although this is not always the case. </p>
                    <p>As always, we recommend that our VIP users carefully consider risk when taking out a flexible
                        rate product. In the event of a market spike, a floating rate may not be as cost-effective as a
                        fixed rate. If you’re engaged in short-term arbitrage and wish to lock in costs, choosing a
                        fixed rate could be a more efficient strategy.</p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus tempora eius ducimus maxime
                        vel ratione ut. Repellat, voluptates reiciendis quaerat doloremque aut atque similique commodi.
                        Voluptatem.</p>
                    <h2 class="h2" id="title4">{{post.subtitle[3]}}</h2>
                    <p>Let’s take a look at exactly how a flexible rate is calculated:</p>
                    <li><ion-icon name="checkmark-circle" aria-hidden="true" role="img" class="md hydrated"></ion-icon>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Repudiandae.</li>
                    <li><ion-icon name="checkmark-circle" aria-hidden="true" role="img" class="md hydrated"></ion-icon>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Repudiandae.</li>
                    <li><ion-icon name="checkmark-circle" aria-hidden="true" role="img" class="md hydrated"></ion-icon>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Repudiandae.</li>
                    <p>Currently, there is no difference in flexible rates between the different VIP levels offered. To
                        learn more about our Flexible Loans, contact your Binance VIP manager. </p>
                    <li><ion-icon name="checkmark-circle" aria-hidden="true" role="img" class="md hydrated"></ion-icon>
                        Open-term loans do not require renewal, thus reducing operational time.</li>

                </div>
            </div>
            <article class="aside-content">
                <div class="section-title">
                    <p><ion-icon name="share-social-outline"></ion-icon> Share Post</p>
                </div>
                <div class="section-socials">
                    <ul class="social-list">

                        <li>
                            <a href="#" class="social-link">
                                <ion-icon name="logo-facebook"></ion-icon>
                            </a>
                        </li>

                        <li>
                            <a href="#" class="social-link">
                                <ion-icon name="logo-twitter"></ion-icon>
                            </a>
                        </li>

                        <li>
                            <a href="#" class="social-link">
                                <ion-icon name="logo-instagram"></ion-icon>
                            </a>
                        </li>

                        <li>
                            <a href="#" class="social-link">
                                <ion-icon name="logo-linkedin"></ion-icon>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="social-link">
                                <ion-icon name="logo-reddit"></ion-icon>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="social-link">
                                <ion-icon name="logo-tiktok"></ion-icon>
                            </a>
                        </li>

                    </ul>

                </div>
                <div class="section-index">
                    <div *ngFor="let subtitle of post.subtitle;let i=index" class="section-item-index">
                        <div class="btn-item-line">
                            <div class="btn-item-tail"></div>
                            <div class="btn-item-icon">
                                <div class="icon" [ngClass]="{'active': i === selectedElement}"></div>
                            </div>
                        </div>
                        <div class="btn-item-content">
                            <a class="navigate-link" (click)="scrollToElement(i)"
                                [ngClass]="{'link-active': i === selectedElement}">{{subtitle}}</a>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>
</section>