<section class="section market" aria-label="market update" data-section>
    <div class="container">
        <div class="title-wrapper">
            <h2 class="h2 section-title">Market Update</h2>
            <a [routerLink]="['/market']" class="btn btn-link">See All Coins</a>
        </div>
        <div class="market-tab">
            <ul class="tab-nav">
                <li>
                    <button class="tab-btn active" (click)="filterAll()">View All</button>
                </li>
                <li>
                    <button class="tab-btn" (click)="filterMeta($event)">Metaverse</button>
                </li>
                <li>
                    <button class="tab-btn" (click)="filterEntertainment($event)">Entertainment</button>
                </li>
                <li>
                    <button class="tab-btn" (click)="filterEnergy($event)">Energy</button>
                </li>
                <li>
                    <button class="tab-btn" (click)="filterDefi($event)">Defi</button>
                </li>
            </ul>
            <table class="market-table">
                <thead class="table-head">
                    <tr class="table-row table-title">
                        <th class="table-heading"></th>
                        <th class="table-heading" scope="col">#</th>
                        <th class="table-heading" scope="col">Name</th>
                        <th class="table-heading" scope="col">Last Price</th>
                        <th class="table-heading" scope="col">24h %</th>
                        <th class="table-heading" scope="col">Market Cap</th>
                        <th class="table-heading" scope="col">Last 7 days</th>
                        <th class="table-heading"></th>
                    </tr>
                </thead>
                <tbody class="table-body">
                    <tr *ngFor="let crypto of cryptos;let i=index" class="table-row">
                        <td class="table-data">
                            <button class="add-to-fav " aria-label="Add to favourite" data-add-to-fav
                                (click)="startChange($event,crypto)" [ngClass]="crypto.fav?'active':''">
                                <ion-icon name="star-outline" aria-hidden="true" class="icon-outline"></ion-icon>
                                <ion-icon name="star" aria-hidden="true" class="icon-fill"></ion-icon>
                            </button>
                        </td>
                        <th class="table-data rank" scope="row">{{i+1}}</th>
                        <td class="table-data">
                            <div class="wrapper">
                                <img [src]="crypto.img" width="20" height="20" alt="bitcoin">
                                <h3>
                                    <a href="" class="coin-name">{{crypto.name}} <span
                                            class="span">{{crypto.slug}}</span></a>
                                </h3>
                            </div>
                        </td>
                        <td class="table-data last-price">{{crypto.price}}</td>
                        <td class="table-data last-update" [ngClass]="crypto.green?'green':'red'">{{crypto.day}}
                        </td>
                        <td class="table-data market-cap">{{crypto.market}}</td>
                        <td class="table-data">
                            <img [src]="crypto.green?'assets/images/chart-1.svg':'assets/images/chart-2.svg'"
                                alt="chart" width="100" height="40">
                        </td>
                        <td class="table-data">
                            <button class="btn btn-outline">Trade</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>