<section class="section market" aria-label="market update" data-section>
    <div class="container">
        <div class="title-wrapper">
            <h2 class="h2 section-title">Market Update</h2>
            <a href="#" class="btn btn-link">See All Coins</a>
        </div>
        <div class="market-tab">
            <ul class="tab-nav">
                <li>
                    <button class="tab-btn active">View All</button>
                </li>
                <li>
                    <button class="tab-btn ">Metaverse</button>
                </li>
                <li>
                    <button class="tab-btn ">Entertainment</button>
                </li>
                <li>
                    <button class="tab-btn ">Energy</button>
                </li>
                <li>
                    <button class="tab-btn ">NFT</button>
                </li>
                <li>
                    <button class="tab-btn ">Gaming</button>
                </li>
            </ul>
            <table class="market-table">
                <thead class="table-head">
                    <tr class="table-row table-title">
                        <th class="table-heading"></th>
                        <th class="table-heading" scope="col">#</th>
                        <th class="table-heading" scope="col">Name</th>
                        <th class="table-heading" scope="col">Last Price</th>
                        <th class="table-heading" scope="col">24h %</th>
                        <th class="table-heading" scope="col">Market Cap</th>
                        <th class="table-heading" scope="col">Last 7 days</th>
                        <th class="table-heading"></th>
                    </tr>
                </thead>
                <tbody class="table-body">
                    <tr class="table-row">
                        <td class="table-data">
                            <button class="add-to-fav " aria-label="Add to favourite" data-add-to-fav
                                (click)="startChange($event)">
                                <ion-icon name="star-outline" aria-hidden="true" class="icon-outline"></ion-icon>
                                <ion-icon name="star" aria-hidden="true" class="icon-fill"></ion-icon>
                            </button>
                        </td>
                        <th class="table-data rank" scope="row">1</th>
                        <td class="table-data">
                            <div class="wrapper">
                                <img src="assets/images/coin-1.svg" width="20" height="20" alt="bitcoin">
                                <h3>
                                    <a href="" class="coin-name">Bitcoin <span class="span">BTC</span></a>
                                </h3>
                            </div>
                        </td>
                        <td class="table-data last-price">$56,623.54</td>
                        <td class="table-data last-update green">+1.45%</td>
                        <td class="table-data market-cap">$880,423,640,582</td>
                        <td class="table-data">
                            <img src="assets/images/chart-1.svg" alt="chart" width="100" height="40">
                        </td>
                        <td class="table-data">
                            <button class="btn btn-outline">Trade</button>
                        </td>
                    </tr>
                    <tr class="table-row">
                        <td class="table-data">
                            <button class="add-to-fav" aria-label="Add to favourite" (click)="startChange($event)"
                                data-add-to-fav>
                                <ion-icon name="star-outline" aria-hidden="true" class="icon-outline"></ion-icon>
                                <ion-icon name="star" aria-hidden="true" class="icon-fill"></ion-icon>
                            </button>
                        </td>
                        <th class="table-data rank" scope="row">2</th>
                        <td class="table-data">
                            <div class="wrapper">
                                <img src="assets/images/coin-2.svg" width="20" height="20" alt="bitcoin">
                                <h3>
                                    <a href="" class="coin-name">Ethereum <span class="span">ETH</span></a>
                                </h3>
                            </div>
                        </td>
                        <td class="table-data last-price">$56,623.54</td>
                        <td class="table-data last-update red">-5.45%</td>
                        <td class="table-data market-cap">$880,423,640,582</td>
                        <td class="table-data">
                            <img src="assets/images/chart-2.svg" alt="chart" width="100" height="40">
                        </td>
                        <td class="table-data">
                            <button class="btn btn-outline">Trade</button>
                        </td>
                    </tr>
                    <tr class="table-row">
                        <td class="table-data">
                            <button class="add-to-fav" aria-label="Add to favourite" (click)="startChange($event)"
                                data-add-to-fav>
                                <ion-icon name="star-outline" aria-hidden="true" class="icon-outline"></ion-icon>
                                <ion-icon name="star" aria-hidden="true" class="icon-fill"></ion-icon>
                            </button>
                        </td>
                        <th class="table-data rank" scope="row">2</th>
                        <td class="table-data">
                            <div class="wrapper">
                                <img src="assets/images/coin-3.svg" width="20" height="20" alt="bitcoin">
                                <h3>
                                    <a href="" class="coin-name">Thereum <span class="span">ETH</span></a>
                                </h3>
                            </div>
                        </td>
                        <td class="table-data last-price">$56,623.54</td>
                        <td class="table-data last-update red">-5.45%</td>
                        <td class="table-data market-cap">$880,423,640,582</td>
                        <td class="table-data">
                            <img src="assets/images/chart-2.svg" alt="chart" width="100" height="40">
                        </td>
                        <td class="table-data">
                            <button class="btn btn-outline">Trade</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>