.section-up {
  position: fixed;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: var(--blue-crayola);
  display: flex;
  align-items: center;
  font-weight: var(--fw-700);
  justify-content: center;
  right: 30px;
  bottom: 30px;
  cursor: pointer;
  z-index: 2;
}
ion-icon {
  transition: 0.3s all ease-in-out;
  color: var(--white);
  font-size: 25px;
}
