<section class="section hero-blog active">
    <div class="animation-points"></div>
    <div class="container">
        <div class="hero-content">
            <h1 class="h1">Blog BITPOINT</h1>
            <p>Find out about everything that happens in the crypto world from our expert analysts. Find here
                information on the market, trading, blockchain and much more!</p>
            <p>*We are the Money App with the largest presence in Latin America.</p>
        </div>
    </div>
</section>