<section class="section overview" aria-label="market overview" data-section>
    <div class="container">
        <div class="title-wrapper">
            <div class="content-title">
                <div class="section-title">
                    <h1 class="h1">Markets Overview</h1>
                    <p><ion-icon name="bar-chart"></ion-icon>
                        Trading Data
                    </p>
                </div>
                <div class="section-info">
                    <p>All price information is in<select name="" id="">
                            <option value="usd">$ (dolar)</option>
                            <option value="eur">€ (euro)</option>
                            <option value="pen">S/. (soles)</option>
                        </select>
                    </p>
                </div>
            </div>
            <div class="market-tab">
                <div class="tab-content">
                    <li>
                        <div class="market-card active">
                            <span>
                                Highlight Coin
                            </span>
                            <div class="content-coin">
                                <img src="assets/images/coin-1.svg" alt="">
                                <div class="info-coin">
                                    <div class="name">
                                        <p>BTC</p>
                                    </div>
                                    <div class="price">
                                        <p>$245.80</p>
                                    </div>
                                    <div class="percentage">
                                        <p class="green">+1.62%</p>
                                    </div>
                                </div>
                            </div>
                            <div class="content-coin">
                                <img src="assets/images/coin-2.svg" alt="">
                                <div class="info-coin">
                                    <div class="name">
                                        <p>ETH</p>
                                    </div>
                                    <div class="price">
                                        <p>$245.80</p>
                                    </div>
                                    <div class="percentage">
                                        <p class="red">-0.82%</p>
                                    </div>
                                </div>
                            </div>
                            <div class="content-coin">
                                <img src="assets/images/coin-3.svg" alt="">
                                <div class="info-coin">
                                    <div class="name">
                                        <p>USDT</p>
                                    </div>
                                    <div class="price">
                                        <p>$45.80</p>
                                    </div>
                                    <div class="percentage">
                                        <p class="green">+1.90%</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="market-card ">
                            <span>
                                New Listing
                            </span>
                            <div class="content-coin">
                                <img src="assets/images/coin-4.svg" alt="">
                                <div class="info-coin">
                                    <div class="name">
                                        <p>BNB</p>
                                    </div>
                                    <div class="price">
                                        <p>$245.80</p>
                                    </div>
                                    <div class="percentage">
                                        <p class="green">+1.62%</p>
                                    </div>
                                </div>
                            </div>
                            <div class="content-coin">
                                <img src="assets/images/coin-5.svg" alt="">
                                <div class="info-coin">
                                    <div class="name">
                                        <p>ETH</p>
                                    </div>
                                    <div class="price">
                                        <p>$245.80</p>
                                    </div>
                                    <div class="percentage">
                                        <p class="red">-0.82%</p>
                                    </div>
                                </div>
                            </div>
                            <div class="content-coin">
                                <img src="assets/images/coin-6.svg" alt="">
                                <div class="info-coin">
                                    <div class="name">
                                        <p>USDT</p>
                                    </div>
                                    <div class="price">
                                        <p>$345.80</p>
                                    </div>
                                    <div class="percentage">
                                        <p class="green">+1.90%</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="market-card ">
                            <span>

                                Top Gainer Coin</span>
                            <div class="content-coin">
                                <img src="assets/images/coin-7.svg" alt="">
                                <div class="info-coin">
                                    <div class="name">
                                        <p>BNB</p>
                                    </div>
                                    <div class="price">
                                        <p>$245.80</p>
                                    </div>
                                    <div class="percentage">
                                        <p class="green">+1.62%</p>
                                    </div>
                                </div>
                            </div>
                            <div class="content-coin">
                                <img src="assets/images/coin-8.svg" alt="">
                                <div class="info-coin">
                                    <div class="name">
                                        <p>ETH</p>
                                    </div>
                                    <div class="price">
                                        <p>$245.80</p>
                                    </div>
                                    <div class="percentage">
                                        <p class="red">-0.82%</p>
                                    </div>
                                </div>
                            </div>
                            <div class="content-coin">
                                <img src="assets/images/coin-9.png" alt="">
                                <div class="info-coin">
                                    <div class="name">
                                        <p>USDT</p>
                                    </div>
                                    <div class="price">
                                        <p>$345.80</p>
                                    </div>
                                    <div class="percentage">
                                        <p class="green">+1.90%</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="market-card ">
                            <span>

                                Top Volume Coin
                            </span>
                            <div class="content-coin">
                                <img src="assets/images/coin-10.png" alt="">
                                <div class="info-coin">
                                    <div class="name">
                                        <p>ARKM</p>
                                    </div>
                                    <div class="price">
                                        <p>$01.421</p>
                                    </div>
                                    <div class="percentage">
                                        <p class="red">-%0.17</p>
                                    </div>
                                </div>
                            </div>
                            <div class="content-coin">
                                <img src="assets/images/coin-11.png" alt="">
                                <div class="info-coin">
                                    <div class="name">
                                        <p>C98</p>
                                    </div>
                                    <div class="price">
                                        <p>$001.157</p>
                                    </div>
                                    <div class="percentage">
                                        <p class="green">+20.11%</p>
                                    </div>
                                </div>
                            </div>
                            <div class="content-coin">
                                <img src="assets/images/coin-3.svg" alt="">
                                <div class="info-coin">
                                    <div class="name">
                                        <p>USDT</p>
                                    </div>
                                    <div class="price">
                                        <p>$345.80</p>
                                    </div>
                                    <div class="percentage">
                                        <p class="green">+1.90%</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </div>
            </div>
        </div>
    </div>
</section>