<section class="section getcoin" aria-label="get coin" data-section>
    <div class="container">
        <div class="content-get">
            <div class="title-wrapper">
                <h2 class="h2 section-title">
                    Get Bitcoin With BITPOINT LATAM
                </h2>
                <button class="btn btn-primary">Sign Up <ion-icon name="arrow-forward-sharp"></ion-icon></button>
            </div>
            <figure class="figure-getcoin">
                <img src="assets/images/buybitcoin.svg" alt="">
            </figure>
        </div>
    </div>
</section>