<section class="section market" aria-label="market coins" data-section>
    <div class="container">
        <div class="title-wrapper">
            <h2 class="h2 section-title">Seed Tokens by Market ​​Capitalization</h2>
            <p>The Seed Tag is applied to innovative projects that may exhibit higher volatility and risks compared to
                other listed tokens. DYOR.</p>
        </div>
        <div class="market-tab">
            <ul class="tab-nav">
                <li>
                    <div class="search-coin">
                        <input type="text" placeholder="Search Coin Name">
                        <ion-icon name="search">
                        </ion-icon>
                    </div>
                </li>
                <li>
                    <button class="tab-btn active">View All</button>
                </li>
                <li>
                    <button class="tab-btn  favorite"><ion-icon name="star"></ion-icon> Favorites</button>
                </li>
                <li>
                    <button class="tab-btn ">Metaverse</button>
                </li>
                <li>
                    <button class="tab-btn ">Entertainment</button>
                </li>
                <li>
                    <button class="tab-btn ">Energy</button>
                </li>
            </ul>
            <table class="market-table">
                <thead class="table-head">
                    <tr class="table-row table-title">
                        <th class="table-heading"></th>
                        <th class="table-heading" scope="col">Name</th>
                        <th class="table-heading" scope="col">Price</th>
                        <th class="table-heading" scope="col">24h %</th>
                        <th class="table-heading" scope="col">24h Volume</th>
                        <th class="table-heading" scope="col">Market Cap</th>
                        <th class="table-heading"></th>
                    </tr>
                </thead>
                <tbody class="table-body">
                    <tr class="table-row">
                        <td class="table-data">
                            <button class="add-to-fav " aria-label="Add to favourite" data-add-to-fav>
                                <ion-icon name="star-outline" aria-hidden="true" class="icon-outline"></ion-icon>
                                <ion-icon name="star" aria-hidden="true" class="icon-fill"></ion-icon>
                            </button>
                        </td>
                        <td class="table-data">
                            <div class="wrapper">
                                <img src="assets/images/coin-1.svg" width="20" height="20" alt="bitcoin">
                                <h3>
                                    <a href="" class="coin-name">BTC <span class="span">Bitcoin</span></a>
                                </h3>
                            </div>
                        </td>
                        <td class="table-data last-price green">$56,623.54</td>
                        <td class="table-data last-update green">+1.45%</td>
                        <td class="table-data market-cap">$16.20B</td>
                        <td class="table-data">$580.47B</td>
                        <td class="table-data">
                            <div class="function-coins"> <img src="assets/images/detail.svg" alt="">
                                <img src="assets/images/trade.svg" alt="">
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>