<section class="section services" aria-label="more services" data-section>
    <div class="container">
        <div class="services-tab">
            <div class="tab-content">
                <li>
                    <div class="service-card active">
                        <div class=" card-svg">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" class="css-d4c7to">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M7.732 4.768a5.732 5.732 0 110 11.464 5.732 5.732 0 010-11.464zm0 8.189L5.276 10.5l2.456-2.457L10.19 10.5l-2.457 2.457z"
                                    fill="url(#buy-crypto-g_svg__paint0_linear_34040_26824)"></path>
                                <path d="M2 10.625h20V22H5a3 3 0 01-3-3v-8.375z" fill="#76808F"></path>
                                <path fill="#F0B90B" d="M17 14.232h5v4h-5z"></path>
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M18.009 1.893a3.991 3.991 0 110 7.982 3.991 3.991 0 010-7.982zm0 5.701l-1.71-1.71 1.71-1.71 1.71 1.71-1.71 1.71z"
                                    fill="url(#buy-crypto-g_svg__paint1_linear_34040_26824)"></path>
                                <defs>
                                    <linearGradient id="buy-crypto-g_svg__paint0_linear_34040_26824" x1="7.732"
                                        y1="16.232" x2="7.732" y2="4.768" gradientUnits="userSpaceOnUse">
                                        <stop stop-color="#F0B90B"></stop>
                                        <stop offset="1" stop-color="#F8D33A"></stop>
                                    </linearGradient>
                                    <linearGradient id="buy-crypto-g_svg__paint1_linear_34040_26824" x1="18.009"
                                        y1="9.875" x2="18.009" y2="1.893" gradientUnits="userSpaceOnUse">
                                        <stop stop-color="#F8D33A"></stop>
                                        <stop offset="1" stop-color="#F0B90B"></stop>
                                    </linearGradient>
                                </defs>
                            </svg>
                        </div>
                        <div class="card-title"><a href="#">Buy Crypto <ion-icon
                                    name="chevron-forward-sharp"></ion-icon></a></div>
                    </div>
                </li>
                <li>
                    <div class="service-card active">
                        <div class="card-svg"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                                class="css-d4c7to">
                                <path
                                    d="M5.875 20c1.5 1.5 2.957 2 4.225 2l6.619-.003a4.324 4.324 0 004.324-4.324h-7.994l-2.602-2.63.547-.547 1.677 1.678c.98.98 2.568.98 3.548 0l-4.249-4.249H5.875V20z"
                                    fill="url(#sell-crypto-g_svg__paint0_linear_8385_60263)"></path>
                                <path fill="#00B9FF" d="M2 11.925h3.875V22H2z"></path>
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M16.688 2a5.313 5.313 0 110 10.625 5.313 5.313 0 010-10.625zm0 7.59L14.41 7.312l2.277-2.277 2.276 2.277-2.276 2.276z"
                                    fill="url(#sell-crypto-g_svg__paint1_linear_8385_60263)"></path>
                                <defs>
                                    <linearGradient id="sell-crypto-g_svg__paint0_linear_8385_60263" x1="12.813"
                                        y1="11.925" x2="12.813" y2="22" gradientUnits="userSpaceOnUse">
                                        <stop stop-color="#F8D33A"></stop>
                                        <stop offset="1" stop-color="#F0B90B"></stop>
                                    </linearGradient>
                                    <linearGradient id="sell-crypto-g_svg__paint1_linear_8385_60263" x1="16.688"
                                        y1="12.625" x2="16.688" y2="2" gradientUnits="userSpaceOnUse">
                                        <stop stop-color="#F0B90B"></stop>
                                        <stop offset="1" stop-color="#F0B90B"></stop>
                                    </linearGradient>
                                </defs>
                            </svg></div>
                        <div class="card-title"><a href="#">Sell Crypto <ion-icon
                                    name="chevron-forward-sharp"></ion-icon></a></div>
                    </div>
                </li>
                <li>
                    <div class="service-card active">
                        <div class="card-svg">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" fill="none" class="css-d4c7to">
                                <path d="M4.5 32.0332H10.5H38.5H44.5V44.0332H4.5V32.0332Z" fill="#76808F"></path>
                                <rect width="21.4375" height="25.125"
                                    transform="matrix(4.37114e-08 -1 -1 -4.37114e-08 37.0625 39.1875)"
                                    fill="url(#paint0_linear_458_80155)"></rect>
                                <path
                                    d="M25.7627 36.4062V34.6383C28.2121 34.2331 29.3539 32.7045 29.3539 30.8997C29.3539 29.0212 28.12 27.9715 25.5417 27.3822V24.325C26.4257 24.5276 27.015 24.9328 27.457 25.43L29.1329 23.9199C28.3226 22.9991 27.236 22.4281 25.7627 22.2624V20.5312H24.713H23.6632V22.2624C21.2875 22.5386 20.0168 23.8278 20.0168 25.7615C20.0168 27.5479 21.1402 28.7634 23.9026 29.3343V32.6493C22.8713 32.502 22.0057 32.0047 21.3059 31.2681L19.6484 32.7782C20.5693 33.7911 21.8032 34.5462 23.6632 34.7119V36.4062H25.7627ZM22.5582 25.6879C22.5582 24.9696 22.9634 24.4724 23.9026 24.2882V27.0138C22.9634 26.756 22.5582 26.3877 22.5582 25.6879ZM26.8124 31.1023C26.8124 31.8021 26.4073 32.373 25.5417 32.6125V29.7027C26.5914 30.0157 26.8124 30.5682 26.8124 31.1023Z"
                                    fill="#76808F"></path>
                                <path d="M14.5 14.0005L34.5 14.0005L24.5 4.00049L14.5 14.0005Z" fill="#76808F"></path>
                                <defs>
                                    <linearGradient id="paint0_linear_458_80155" x1="10.7188" y1="0" x2="10.7188"
                                        y2="25.125" gradientUnits="userSpaceOnUse">
                                        <stop stop-color="#F8D33A"></stop>
                                        <stop offset="1" stop-color="#F0B90B"></stop>
                                    </linearGradient>
                                </defs>
                            </svg>
                        </div>
                        <div class="card-title"><a href="#">Withraw Fiat <ion-icon
                                    name="chevron-forward-sharp"></ion-icon></a></div>
                    </div>
                </li>
            </div>
        </div>
    </div>
</section>